<!DOCTYPE html>
<html>

<head>
    <title>Express Server</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    {{>header}}
    <p>This site was created by <a href="https://www.linkedin.com/in/timjameswoods/">TJ Woods</a>. It uses data from
        mapbox.com.</p>
    {{>footer}}
</body>

</html>