<!DOCTYPE html>
<html>

<head>
    <title>Express Server - Error Page</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    {{>header}}

    <p>
    <h3>{{errormessage}}</h3>
    </p>

    {{>footer}}
</body>

</html>