<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/twoods.jpeg" class="portrait" />

        <p>{{title}}</p>
    </div>
    {{>footer}}
</body>

</html>